<!-- <hello name="{{ name }}"></hello>
<p></p> -->

<head>
  <meta charset="UTF-8" />
  <title>DeFi Pro</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://raw.githubusercontent.com/mikeyhodl/comsit/main/style.css"
  />
  <link
    rel="shortcut icon"
    href="https://res.cloudinary.com/weknow-creators/image/upload/v1650729260/images/nficon2016_ecpiak.png"
  />
</head>
<body>
  <style>
    #player{position:absolute;width:100%!important;height:100%!important;}
  </style>
  <div id="player"></div>

  <script src="https://content.jwplatform.com/libraries/Jq6HIbgz.js"></script>
  <script src="https://raw.githubusercontent.com/mikeyhodl/comsit/main/script.js"></script>
</body>
